
<div class="container"> <!-- Start : Inner Page container -->

    <div class="crumbs">    <!-- Start : Breadcrumbs -->
        <ul id="breadcrumbs" class="breadcrumb">
            <li class="current">
                <i class="fa fa-home"></i>Change Password
            </li>
        </ul>
    </div>  <!-- End : Breadcrumbs -->


    <div class="page-header">   <!-- Start : Page Header -->
        <div class="page-title">
            <h3>Change Password</h3>
        </div>
    </div>  <!-- End : Page Header -->
    

    <div class="row">
        <div class="col-md-12">  <!-- For Dashboard Staters -->
            
            
        </div>  <!-- END : Dashboard Staters -->
        
    </div>
    
</div>  <!-- End : Inner Page container -->
