<div class="container"> <!-- Start : Inner Page container -->

    <div class="crumbs">    <!-- Start : Breadcrumbs -->
        <ul id="breadcrumbs" class="breadcrumb">
            <li class="current">
                <i class="fa fa-home"></i>Contact Us
            </li>
        </ul>
    </div>  <!-- End : Breadcrumbs -->


    <!-- Start : Page Header -->
    <div class="page-header">   
        <div class="page-title">
            <h3>Contact Us</h3>
        </div>
    </div>  
    <!-- End : Page Header -->
    
    <!-- For Dashboard Staters -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-table"></i>
                        Contact Us
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover DynamicTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Country</th>
                                    <th>DOB</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users" >
                                    <td>{{user.fullname}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.gender}}</td>
                                    <td>{{user.country}}</td>
                                    <td>{{user.dob}}</td>
                                    <td> 
                                        <a href="javascript:void(0);" ng-click="removeUser(user._id)" ><i class="fa fa-times" ></i></a>
                                        <a href="javascript:void(0);" ng-click="loadUserQuestion(user._id)" ><i class="fa fa-share-square" ></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- END : Dashboard Staters -->
</div>