
<div class="container" >
<!-- Start : Breadcrumbs -->
<div class="crumbs">    
    <ul id="breadcrumbs" class="breadcrumb">
        <li class="current">
            <i class="fa fa-home"></i>Edit Suspeted
        </li>
    </ul>
</div>  
<!-- End : Breadcrumbs -->
<!-- Start : Page Header -->
<div class="page-header">
    <div class="page-title">
        <h3>Edit Suspeted</h3>
    </div>
</div>  
<!-- End : Page Header -->
<!-- For Dashboard Staters -->
<div class="row">
    <div class="col-md-12">  
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>
                    Edit Suspeted
                </div>

           </div>
            <div class="portlet-body">
                
                   <form>
                        <div class="form-group">
                            <label for="inputEmail">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Title" ng-model="editData.title">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Description</label>
                            <textarea class="form-control" placeholder="Enter Description" ng-model="editData.description"></textarea>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" ng-click="editSuspected()">Submit</button>
                    </form>  


                    

            </div>
        </div>
    </div>
</div>
<!-- END : Dashboard Staters -->


</div>
