
<div class="container" >
<!-- Start : Breadcrumbs -->
<div class="crumbs">    
    <ul id="breadcrumbs" class="breadcrumb">
        <li class="current">
            <i class="fa fa-home"></i>Edit User
        </li>
    </ul>
</div>  
<!-- End : Breadcrumbs -->
<!-- Start : Page Header -->
<div class="page-header">
    <div class="page-title">
        <h3>Edit User</h3>
    </div>
</div>  
<!-- End : Page Header -->
<!-- For Dashboard Staters -->
<div class="row">
    <div class="col-md-12">  
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>
                    Edit User
                </div>

           </div>
            <div class="portlet-body">
                
                   <form>
                        <div class="form-group">
                            <label for="inputEmail">Full Name</label>
                            <input type="text" class="form-control" placeholder="Enter Title" ng-model="editData.fullname">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Number</label>
                            <input type="number" class="form-control" placeholder="Enter Number" ng-model="editData.number">
                        </div>
                       
                        
                        <button type="submit" class="btn btn-primary" ng-click="edituser()">Submit</button>
                    </form>  


                    

            </div>
        </div>
    </div>
</div>
<!-- END : Dashboard Staters -->


</div>
