<header class="header navbar navbar-fixed-top" role="banner">  <!-- Start: Header and Nav Bar -->
    <div class="container"> <!-- Start: Nav Bar Container -->
        <ul class="nav navbar-nav"> <!-- Start: Mobile Menu toggle -->
            <li class="nav-toggle">
                <a href="javascript:void(0);" title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>   <!-- End Mobile Menu toggle -->
        <a class="navbar-brand" ui-sref="nav.home">  <!-- Start: Logo -->
            <img src="assets/images/logo2.png" alt="logo" style="width:50px !important;margin-left: 75px;" />
        </a>    <!-- End Logo -->
        <ul class="nav navbar-nav navbar-right">    <!-- Start : Top Right Drop down Menu -->
            <li class="dropdown user">  <!-- Start : User Drop Down -->
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="username">Admin</span>
                    <i class="fa fa-angle-down small"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="nav.changepassword">
                            <i class="fs-user"></i> Change Password
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" ng-click="doLogout()" >
                            <i class="fa fa-power-off"></i> Log Out
                        </a>
                    </li>
                </ul>
            </li>   <!-- End : User Drop Down -->
        </ul>   <!-- End : Top Right Drop down Menu -->
    </div>  <!-- End Nav Bar Container -->
</header>   <!-- End Header and Nav Bar -->
