<div class="container" >

    <div class="crumbs">    <!-- Start : Breadcrumbs -->
        <ul id="breadcrumbs" class="breadcrumb">
            <li class="current">
                <i class="fa fa-home"></i>Dashboard
            </li>
        </ul>
    </div>  <!-- End : Breadcrumbs -->


    <div class="page-header">   <!-- Start : Page Header -->
        <div class="page-title">
            <h3>Dashboard</h3>
        </div>
    </div>  <!-- End : Page Header -->


    <div class="row">
        <div class="col-md-12">  <!-- For Dashboard Staters -->
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fs-user-4"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            {{questionCount}}
                        </div>
                        <div class="desc">                                  
                            Users
                        </div>
                    </div>
                    <a class="more" ui-sref="nav.user">
                        View All <i class=" fs-arrow-right-2"></i>
                    </a>                        
                </div>
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fs-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            {{userCount}}
                        </div>
                        <div class="desc">                                  
                            Suspected Actions
                        </div>
                    </div>
                    <a class="more" ui-sref="nav.suspected">
                        Check All <i class="fs-arrow-right-2"></i>
                    </a>                        
                </div>
            </div>
            
        </div>  <!-- END : Dashboard Staters -->
    </div>
</div>
