<div class="content" style="margin-top:10%;">   <!-- BEGIN LOGIN -->    
    <div class="form-vertical login-form">
        
        <h3 class="form-title">Login to your account {{dataPrintRunRoot}}</h3>
        <div class="alert alert-danger {{hideContent}}">
            <button class="close" data-dismiss="alert"></button>
            <span>{{hideContentMain}}</span>
        </div>
        
        <div class="control-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label">Username</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="fs-user-2"></i>
                    <input class="form-control" type="text" placeholder="Email" ng-model="formData.email"/>
                </div>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="fs-locked"></i>
                    <input class="form-control" type="password" placeholder="Password" ng-model="formData.password"/>
                </div>
            </div>
        </div>
        
        <div class="form-actions">
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"/> Remember me
            </label>
            <button type="submit" class="btn green pull-right" ng-click="doLogin()" >
                <i class="fs-checkmark-2"></i> Login
            </button>            
        </div>
       
    </div> <!-- END LOGIN FORM --> 
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2015 &copy; Vigilantes Admin
</div>