<div ng-include="'templates/header.html'"></div>

<div id="container"><!-- Start : container -->

    <div ng-include="'templates/sidebar.html'"></div>

    <div id="content"><!-- Start : Inner Page Content -->

        <div ui-view></div>
            
        <a href="javascript:void(0);" class="scrollup">Scroll</a>
    </div>  <!-- End : Inner Page Content -->
</div>  <!-- End : container -->
