<div id="sidebar" class="sidebar-fixed">    <!-- Start : Side bar -->
    <div id="sidebar-content">  <!-- Start : Side bar content -->
        <ul id="nav">   <!-- Start : Side bar Menu Items -->
            <li>
                <a ui-sref="nav.home">
                    <i class="fa fa-dashboard"></i> Dashboard 
                </a>
            </li>
            <li>
                <a ui-sref="nav.user">
                    <i class="fa fa-users"></i> Users 
                </a>
            </li>
            <li>
                <a ui-sref="nav.suspected">
                    <i class="fa fa-list-alt"></i> Suspected Actions
                </a>
            </li>
            <li>
                <a ui-sref="nav.contact-us">
                    <i class="fa fa-question-circle"></i> Contact Us
                </a>
            </li>
        </ul>   <!-- End : Side bar Menu Items -->
    </div>  <!-- End : Side bar content -->
</div>  <!-- End : Side bar -->