
<div class="container"> <!-- Start : Inner Page container -->

    <div class="crumbs">    <!-- Start : Breadcrumbs -->
        <ul id="breadcrumbs" class="breadcrumb">
            <li class="current">
                <i class="fa fa-home"></i>Suspected Actions
            </li>
        </ul>
    </div>  <!-- End : Breadcrumbs -->


    <!-- Start : Page Header -->
    <div class="page-header">   
        <div class="page-title">
            <h3>Suspected Actions</h3>
        </div>
    </div>  
    <!-- End : Page Header -->
    
    <!-- For Dashboard Staters -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-table"></i>
                        Suspected Actions
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover DynamicTable">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="suspected in loadsuspected" >
                                    <th>{{$index+1}}</th>
                                    <td>{{suspected.name}}</td>
                                    <td>{{suspected.description}}</td>
                                    <td>
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-times" ng-click="deleteSuspected(suspected._id)" ></i>
                                        </a>
                                        <a href="javascript:void(0);" ng-click="editSuspected(suspected._id)" >
                                        <i class="fa fa-edit" ></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- END : Dashboard Staters -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Suspecte</h4>
      </div>
      <div class="modal-body" style="max-height:400px; overflow:auto !important;" >
        <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Option 2"  ng-model="suspecteddetail.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Option 3" ng-model="suspecteddetail.description">
                </div>
            </div>
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="saveEdit()" >Save</button>
      </div>
    </div>
  </div>
</div>
    
</div>  <!-- End : Inner Page container -->
