
<div class="container" >
<!-- Start : Breadcrumbs -->
<div class="crumbs">    
    <ul id="breadcrumbs" class="breadcrumb">
        <li class="current">
            <i class="fa fa-home"></i>Users
        </li>
    </ul>
</div>  
<!-- End : Breadcrumbs -->
<!-- Start : Page Header -->
<div class="page-header">
    <div class="page-title">
        <h3>Users</h3>
    </div>
</div>  
<!-- End : Page Header -->
<!-- For Dashboard Staters -->
<div class="row">
    <div class="col-md-12">  
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>
                    Users
                </div>

                <!-- <div class="actions" style="margin-top: -3px; margin-right: 13px;">
                    <div class="btn-group">
                        <a class="btn mini green" href="javascript:void(0);" data-toggle="modal" data-target="#myModal" >
                            <i class="fa fa-plus"></i> 
                            Add New Users
                        </a>
                    </div>
                </div> -->

            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover DynamicTable">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Mobile Numer</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="users in loadUser" >
                                <th>{{$index+1}}</th>
                                <th>{{users.fullname}}</th>
                                <th>{{users.email}}</th>
                                <th>{{users.number}}</th>
                                <td> <a href="javascript:void(0);" ng-click="deleteuser(users._id)" ><i class="fa fa-times" ></i></a> <a href="javascript:void(0);" ng-click="edituser(users._id)" ><i class="fa fa-edit" ></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END : Dashboard Staters -->


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body" style="max-height:400px; overflow:auto !important;" >
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Card 1</label>
                <div class="col-sm-10">
                  <select class="form-control" ng-options="item.name as item.name for item in cardArray" ng-model="editForm.card1" ></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Card 2</label>
                <div class="col-sm-10">
                  <select class="form-control" ng-options="item.name as item.name for item in cardArray" ng-model="editForm.card2" ></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Position</label>
                <div class="col-sm-10">
                  <select class="form-control" ng-options="item.position as item.name for item in position"  ng-model="editForm.position" ></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Topic</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-options="topic._id as topic.title for topic in questionTopic" ng-model="editForm.topic"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Question</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Question" ng-model="editForm.question">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option 1</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  placeholder="Enter Option 1" ng-model="editForm.opt1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option 2</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Option 2" ng-model="editForm.opt2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option 3</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Option 3" ng-model="editForm.opt3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option 4</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Option 4" ng-model="editForm.opt4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Right Answer</label>
                <div class="col-sm-10">
                    <select class="form-control"  ng-model="editForm.right_opt">
                        <option value="" >SELECT</option>
                        <option value="{{editForm.opt1}}" >Option 1</option>
                        <option value="{{editForm.opt2}}" >Option 2</option>
                        <option value="{{editForm.opt3}}" >Option 3</option>
                        <option value="{{editForm.opt4}}" >Option 4</option>
                    </select>
                </div>
            </div>
          
            <div class="form-group">
                <label class="col-sm-2 control-label">StackSize</label>
                <div class="col-sm-10">
                    <input type="Number" class="form-control" placeholder="Enter StackSize" ng-model="editForm.stacksize" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">BB</label>
                <div class="col-sm-10">
                    <input type="Number" class="form-control" placeholder="Enter BB" ng-model="editForm.bb" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SB</label>
                <div class="col-sm-10">
                    <input type="Number" class="form-control" placeholder="Enter SB" ng-model="editForm.sb" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ante</label>
                <div class="col-sm-10">
                    <input type="Number" class="form-control" placeholder="Enter ante" ng-model="editForm.ante" >
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="saveEdit()" >Save</button>
      </div>
    </div>
  </div>
</div>
</div>
